<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layoutAdmin}">
<head>
    <title>Trang Admin</title>
</head>
<body>

<!-- Nội dung động -->
<section layout:fragment="content">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="features-title text-center">
                    <h2>CHÀO MỪNG BẠN ĐÃ ĐẾN VỚI TRANG ADMIN</h2>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
